html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 0;
}

#l-page {
    position: absolute;
    top: 38%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#m-name {
    font-family: 'Playfair Display SC', serif;
    color: black;
    font-size: 50px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


.container {
    color: #000;
    text-align: center;
    z-index: 2;
    position: absolute;
     top: 80%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
        
}

h1 {
    font-weight: normal;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}


/*
body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}
*/
